<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addTodoMenu()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let menu of ListeMenu | async" (click)="goToSubMenu(menu.$key, menu.title, menu.isSousMenu)" (press)="showOptions(menu.$key, menu.title, menu.isSousMenu)">
       <ion-checkbox *ngIf="menu.isSousMenu==true&&menu.checked==true" color="blue" checked="true" (click)="checkboxChecked(menu.$key, menu.checked)"></ion-checkbox> 
       <ion-checkbox *ngIf="menu.isSousMenu==true&&menu.checked==false" color="blue" checked="menu.checked" (click)="checkboxChecked(menu.$key, menu.checked)"></ion-checkbox> 
      <ion-label>{{menu.title}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>